/* Light Mode */
.light-mode {
    background-color: white;
    color: black;
}

/* Dark Mode */
.dark-mode {
    background: rgb(34, 33, 33);
    color: white;
}

/* Container styling */
.light-mode .settings-container {
    background-color: white;
    color: black;
}

.dark-mode .settings-container {
    background-color: black;
    color: white;
}
